.ChannelBar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.channelInfo {
    display: flex;
    align-items: center;
}

.image {
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.image img {
    width: 100%;
}

.desc {
    margin-left: 10px;
}

.desc span {
    display: block;
}

.name {
    font-weight: bold;
    font-size: 14px;
}

.subscribers {
    color: var(--second-font-color);
    font-size: 12px;
    margin-top: 5px;
}

.subscribeButton {
    outline: none;
    border: none;
    letter-spacing: 1px;
    background-color: #e20000;
    padding: 10px 15px;
    font-weight: bolder;
    border-radius: 3px;
    cursor: pointer;
}

.subscribeButton.subscribed {
    background-color: #303030;
    color: #AAAAAA;
}