.Feed {
    height: 100%;
    overflow: auto;
}

.item {
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--loading-image-placeholder);
}

.item:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.description {
    margin-left: 10px;
}

.image {
    overflow: hidden;
    min-width: 100px;
    max-width: 100px;
    min-height: 56px;
    max-height: 56px;
    border-radius: 5px;
}

.title {
    font-size: 14px;
}

.info {
    margin-top: 3px;
    font-size: 12px;
}

.info span {
    color: var(--second-font-color);
}

.separator {
    padding: 0 5px;
}