:root {
  --background: #181818;
  --font-color: #ffffff;
  --hover-color: #313131;
  --second-font-color: #ABABAB;
  --loading-placeholder: #292929;
  --loading-image-placeholder: #252525;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: Roboto, Arial;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 600px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-font-color);
}

.loading {
  border-radius: 2px;
  background-color: var(--loading-placeholder);
}

.loading-spacing {
  height: 5px;
}