.TopBar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 16px;
}

.icon {
    fill: var(--font-color);
    width: 20px;
    height: 20px;
}

.btn {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--hover-color);
}

.buttons {
    display: flex;
    align-items: center;
}

